.%ComponentNameKebab% {
  color: #fff;
  font-weight: bold;
  background-color: #111;
}

.%ComponentNameKebab%--blue {
  color: #fff;
  font-weight: bold;
  background-color: #69c;
}

.%ComponentNameKebab%--red {
  color: #fff;
  font-weight: bold;
  background-color: #f00;
}
