$red: #f00;
$white: #fff;
$blue: #69C;
$off-black: #111;

.%ComponentNameKebab% {
  color: $white;
  font-weight: bold;
  background-color: $off-black;
  &--blue {
    background-color: $blue;
  }
  &--red {
    background-color: $red;
  }
}
